export GPG_DEFAULT_PRIMARY_KEY="Y0URGPGD3F4ULTPR1M4RYK3Y"

export GPG_GIVENAME="YOUR_GPG_GIVENAME"
export GPG_SURNAME="YOUR_GPG_SURNAME"
export GPG_EMAIL="YOUR_GPG_EMAIL"
export GPG_COMMENT="YOUR_GPG_COMMENT"
