# All ignored
*

# Helpers
!.gitkeep
!*.sample

# Git's Configuration
!.gitignore
!.gitconfig
!.gitmodules

!.zshenv
!.zlogout

!Brewfile

!.bin/
!.bin/*.sh

!.catppuccin/
!.catppuccin/bat
!.catppuccin/delta

!.config/

!.config/zsh/
!.config/zsh/.zshenv
!.config/zsh/.zprofile
!.config/zsh/.zshrc
!.config/zsh/.zlogin
!.config/zsh/.zlogout

!.config/tmux/
!.config/tmux/tmux.conf

!.config/starship/
!.config/starship/*.toml

!.config/alacritty/
!.config/alacritty/*.toml

!.hammerspoon/
!.hammerspoon/*.lua
!.hammerspoon/Spoons/
!.hammerspoon/Spoons/Local*

!.config/mise/
!.config/mise/*.toml

!.config/opencode/
!.config/opencode/*.json

!.config/nvim/
!.config/nvim/*.lua
!.config/nvim/*.json
!.config/nvim/*.jsonc

!.config/bat/
!.config/bat/config
!.config/bat/themes

!.config/karabiner/
!.config/karabiner/*.json

!.bin/
!.bin/*.sh

!dev/

!Library/
!Library/LaunchAgents/
!Library/LaunchAgents/local.*.plist
