[submodule ".repos/catppuccin/starship"]
	path = .repos/catppuccin/starship
	url = git@github.com:catppuccin/starship.git
[submodule ".repos/catppuccin/eza"]
	path = .repos/catppuccin/eza
	url = git@github.com:catppuccin/eza.git
[submodule ".repos/catppuccin/bat"]
	path = .repos/catppuccin/bat
	url = git@github.com:catppuccin/bat.git
[submodule ".repos/catppuccin/delta"]
	path = .repos/catppuccin/delta
	url = git@github.com:catppuccin/delta.git
[submodule ".repos/catppuccin/alacritty"]
	path = .repos/catppuccin/alacritty
	url = git@github.com:catppuccin/alacritty.git
[submodule "dev/LocalKeyCastr.spoon"]
	path = dev/LocalKeyCastr.spoon
	url = git@codeberg.org:oak-v/KeyCastr.spoon.git
[submodule "dev/LocalFocusFollow.spoon"]
	path = dev/LocalFocusFollow.spoon
	url = git@codeberg.org:oak-v/FocusFollow.spoon.git
[submodule "dev/pam_apple_companion"]
	path = dev/pam_apple_companion
	url = git@codeberg.org:oak-v/pam_apple_companion.git
[submodule "dev/LocalKeyBinder.spoon"]
	path = dev/LocalKeyBinder.spoon
	url = git@codeberg.org:oak-v/KeyBinder.spoon.git
[submodule "dev/sogcli"]
	path = dev/sogcli
	url = git@github.com:visionik/sogcli.git
[submodule "dev/brew"]
	path = dev/brew
	url = git@github.com:Oak-V/brew.git
