[include]
	path = "~/.repos/catppuccin/delta/catppuccin.gitconfig"
[include]
	path = "~/.secret.gitconfig"
[delta]
	features = catppuccin-mocha
[core]
	editor = nvim
	pager = delta
[commit]
	gpgsign = true
[push]
	gpgSign = true
	autoSetupRemote = true
[gpg]
	minTrustLevel = ultimate
	program = /opt/homebrew/bin/gpg
[tag]
	forceSignAnnotated = true
	gpgSign = true
[log]
	showSignature = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[merge]
	conflictStyle = zdiff3
[http]
	postBuffer = 524288000
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@codeberg.org:"]
	insteadOf = https://codeberg.org/
[protocol]
	version = 2
