*

!.luarc.json
!.gitkeep
!.editorconfig

!/.gitignore
!/.gitconfig
!/.gitmodules

!/.zshenv

!/.Brewfile

!/.ssh/
!/.ssh/config

!/.bin/
!/.bin/*.sh

!/.repos/
!/.repos/catppuccin/
!/.repos/catppuccin/bat
!/.repos/catppuccin/delta
!/.repos/catppuccin/alacritty
!/.repos/catppuccin/starship
!/.repos/catppuccin/eza

!/.config/

!/.config/pam.d/
!/.config/pam.d/sudo_local

!/.config/eza/
!/.config/eza/*.yml

!/.config/zsh/
!/.config/zsh/.zshenv
!/.config/zsh/.zprofile
!/.config/zsh/.zshrc
!/.config/zsh/.zlogin
!/.config/zsh/.zlogout
!/.config/zsh/*.sh

!/.config/tmux/
!/.config/tmux/tmux.conf

!/.config/starship/
!/.config/starship/*.toml
!/.config/starship/*.txt

!/.config/alacritty/
!/.config/alacritty/*.toml

!/.hammerspoon/
!/.hammerspoon/*.lua
!/.hammerspoon/Spoons/
!/.hammerspoon/Spoons/Local*

!/.config/mise/
!/.config/mise/*.toml

!/.config/opencode/
!/.config/opencode/*.json

!/.config/nvim/
!/.config/nvim/*.lua
!/.config/nvim/*.json
!/.config/nvim/*.jsonc

!/.config/bat/
!/.config/bat/config
!/.config/bat/themes

!/.config/karabiner/
!/.config/karabiner/*.json

!/.bin/
!/.bin/*.sh
!/.bin/*.rs

!/dev/
!/dev/*/

!/.services/
!/.services/
!/.services/local.*.plist

!/.gnupg/
!/.gnupg/gpg.conf
!/.gnupg/gpg-agent.conf

.secret.*
!*.sample
